[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://github.com/PTiringer/nomad-FAIR.git
[submodule "packages/wiki-page"]
	path = packages/wiki-page
	url = https://github.com/PTiringer/Wiki-page.git
[submodule "packages/MPI-CBS-scientific-staff-database"]
	path = packages/MPI-CBS-scientific-staff-database
	url = https://github.com/PTiringer/MPI_CBS_scientific_staff_database.git
[submodule "packages/qa-plotter"]
	path = packages/qa-plotter
	url = https://github.com/PTiringer/qa-plotter.git
